$gradient-bg: linear-gradient(to right, #00c6ff, #00ffab);
$display-bg: #002d27;
$button-bg: #eafdfd;
$button-text-color: #000;
$operator-bg: #80e8e8;
$special-bg: #f77;
$display-text-color: #fff;
$font-size-display: 2rem;
$font-size-buttons: 1.5rem;
$gap: 5px;
body {
  background: $gradient-bg;
  .calculator {
    display: flex;
    flex-direction: column;

    max-width: 250px;
    margin: 0 auto;
    .display {
      background: $display-bg;
      color: $display-text-color;
      font-size: $font-size-display;
      text-align: right;
      padding: 20px 5px;
      width: 100%;

      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .buttons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: $gap;
      width: 100%;

      background: #fff;
      border-radius: 5px;
      padding: 5px;
      #clear {
        grid-column: span 2;
      }
      #equals {
        grid-column: span 2;
      }
      .btn {
        background: $button-bg;
        color: $button-text-color;
        font-size: $font-size-buttons;
        height: 60px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.1);
        transition: all 0.1s ease;
        &:hover {
          transform: scale(1.05);
          box-shadow: inset 0 -3px 6px rgba(0, 0, 0, 0.2);
        }

        &.number {
          background: lighten($button-bg, 10%);
        }

        &.operator {
          background: $operator-bg;
        }

        &#clear {
          background: $special-bg;
          color: #fff;
        }

        &#equals {
          background: darken($operator-bg, 10%);
          color: #fff;
        }
      }
    }
  }
}
